# serverless.yml
service: worker-song

provider:
  name: aws
  runtime: nodejs14.x
  region: eu-west-3
  memorySize: 512 # optional, in MB, default is 1024
  timeout: 60 # optional, in seconds, default is 6
  versionFunctions: false # optional, default is true
  tracing:
    lambda: true # optional, enables tracing for all functions (can be true (true equals 'Active') 'Active' or 'PassThrough')
  environment:
    GENIUS_API_SECRET_TOKEN: ${env:GENIUS_API_SECRET_TOKEN}

functions:
  workerSong:
    handler: build/index.workerSong
    name: ${sls:stage}-worker-song
    description: Worker song
    events:
      - sqs:
          arn:
            Fn::GetAtt:
              - sqsWorkerSong
              - Arn
    iamRoleStatements:
      - Effect: "Allow"
        Action:
          - dynamodb:BatchWriteItem
        Resource: { "Fn::GetAtt": ["songsTable", "Arn"] }

custom:
  serverless-offline-sqs:
    autoCreate: true
    apiVersion: "2012-11-05"
    endpoint: http://0.0.0.0:9324
    region: eu-west-3
    accessKeyId: root
    secretAccessKey: root
    skipCacheInvalidation: false

  serverless-offline:
    lambdaPort: 4000

plugins:
  - serverless-iam-roles-per-function
  - serverless-offline-sqs
  - serverless-offline

resources:
  Resources:
    sqsWorkerSong:
      Type: "AWS::SQS::Queue"
      Properties:
        QueueName: "sqs-worker-song"
        VisibilityTimeout: 60

    songsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: songs
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: N
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
